<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>MySQL</title>

</head>
<body>


<div class="div-center-margin">
    <ul class="nav navbar-nav">
        <li><a href="/" class="active">Вернуться на начальную страницу</a></li>
    </ul>
</div>

<div class="div-center-margin">
    <table class="table table-bordered" border="1" style="margin:auto; width:80%; height:100%;">
        <caption><h4>Результаты поиска<span th:text="${currentDb}"></span>:</h4></caption>
        <thead>
        <tr style="background:#428bca;color:#ffffff;">
            <th>id</th>
            <th>ФИО</th>
            <th>Должность</th>
            <th>Причина опоздания</th>
            <th>Дата</th>
            <th>Время опоздания</th>
        </tr>
        </thead>
        <tbody th:each="absence : ${absences}">
        <tr >
            <th th:text="${absence.id}">          </th>
            <th th:text="${absence.name}">        </th>
            <th th:text="${absence.position}">    </th>
            <th th:text="${absence.cause}">       </th>
            <th th:text="${absence.absencedate}"> </th>
            <th th:text="${absence.absencetime}"> </th>
        </tr>
    </table>
</div>
</body>
</html>
